<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.0"></script>
  <style>
    .box {
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }
  </style>
</head>
<body>
  <h1>Hello, Vue :)</h1>

  <div id="app">
      <div v-if="showBooks">
        <ul>
            <li v-for="b in books" class="box">
              <img :src="b.img" :alt="b.title">
              <h3>{{ b.title }}</h3>
              <p>{{ b.author }}</p>
            </li>
          </ul>
          
      </div>

      <div v-else>
        <p>Click the button below to show books</p>
      </div>

      <button @click="toggleShowBooks">
        <!-- Toggle books -->
        <span v-if="showBooks">Hide books</span>
        <span v-else>Show books</span>
      </button>

      <div v-show="showBooks">currently showing books</div>
  </div>

  <script src="app.js"></script>
</body>
</html>